.eventdatadesign{
  width: 340px;
  height: 165px;
  background-color: #b43cc7;
  padding: 17px;
}

.animationtext{
  text-decoration: none;
  font-size: 10px;
  color: yellow;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {color: yellow;}
  to {color: red;}
}

.goback a{
  text-decoration: none;
  color: white;
}



.userimage{
 
  height: 300px;
  width: 524px;

}

.userimagecircle{
    margin-top: 47px;
   
    position: relative;
}

.userimagecircle img{
  
  width: 122px;
  height: 127px;
  left: -59px;
  position: absolute;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 40% !important;

   /* Should be removed. Only for demonstration */
}

.w-50 {
  width: 55%!important;
  margin-left: 12px;
    border-color: rgb(5, 19, 5);
}
.detail{
  margin-top: 46px;
  width: 189%;
}
hr{
  border-top: 2px solid;
  border-color: green !important;
}
.nameholder{
  background-color:  #0086b3 !important;
 
}

.nameholder label{
  color: white;
}
.outer{
 
  background-color: green;

  width: 125px;

  height: 43px;
  padding: 2px;
}

.download{
  font-size: 1rem;
  font-weight: 700;
   
background-color: white;
    line-height: 1.5;
  background-clip: padding-box;

 
  width: 186px;
 
  padding: 5px;
  box-shadow: 5px 10px 18px #888888;
}
.download button{
  font-weight: 700;
  color: red;
  text-decoration: none;
  border: none;
  background-color: white;
}
.t{
  background-color: black;
  clip-path: polygon(100% 0, 28% 49%, 100% 100%, 1% 99%, 0 1%);

}
.shape{
  border:none;
 

}
.g{
  width: 28px;
}
